<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<h:dataTable value="#{userController.weatherInterface.weatherData}"
		var="weather" styleClass="order-table"
		headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row">
		<h:column>
			<f:facet name="header">Temperature</f:facet>
								#{weather.temperature}
						</h:column>
		<h:column>
			<f:facet name="header">Maximum Temperature</f:facet>
								#{weather.maxTemp}
						</h:column>
		<h:column>
			<f:facet name="header">Minimum Temperature</f:facet>
								#{weather.minTemp}
						</h:column>
		<h:column>
			<f:facet name="header">Humidity</f:facet>
								#{weather.humidity}
						</h:column>
		<h:column>
			<f:facet name="header">Date</f:facet>
								#{weather.dateAndTime}
						</h:column>


	</h:dataTable>

		<a href="Index.xhtml">
			<button style="background: grey; color: white; width: 80px; height: 40px;">Logout</button>
		</a>
</body>
</html>
