	<ui:composition template="/layouts/commonLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
	
		<ui:define name="title"> Chart Page</ui:define>
		<ui:define name="content">
					
	<div id="myDiv">
		
	</div>
	<h:outputScript target="body">
			
		var trace2 = {
			    x: [],
			    y: [],
			    mode: 'lines',
			    name: 'Humidity'
			};
		var trace3 = {
			    x: [],
			    y: [],
			    mode: 'lines',
			    name: 'TempMin'
			};
		    var trace4= {
			    x: [],
			    y: [],
			    mode: 'lines',
			    name: 'TempMax'
			};
			

var jsonData = $.ajax({
    url: "/weatherApp/rest/weather/getChartData",
    dataType: "json",
  }).done(function (results) {

    for(let result of results.data){
      trace2.x.push(result.dateAndTime);
      trace2.y.push(result.humidity);
      trace3.x.push(result.dateAndTime);
      trace3.y.push(result.minTemp);
      trace4.x.push(result.dateAndTime);
      trace4.y.push(result.maxTemp);
     
    }

    var data = [trace2, trace3, trace4 ];

    var layout = {};

    Plotly.newPlot('myDiv', data, layout);
  });
</h:outputScript>
		<a href="Index.xhtml">
			<button class="buttons">Logout</button>
		</a>
		</ui:define>
	</ui:composition>

