.footer
{
	text-align: center;
	bottom: 0;
	width: 100%;
}
.header
{
		width: 100%;
		text-align: center;
		background: gold;
		top:0px;
		height: 60px;
		margin-bottom: 30px;
}

.title
{
	padding-top: 10px;
	margin-top: 0px;
	font-family: "Arial", Times, serif;
}

.buttons
{
	background: grey;
	color: white;
	width: 80px;
	height: 40px;
}

.login
{
	left: 35%;
}

.register
{
	right: 35%;
}

body
{
	margin: 0;
}

input
{
	padding: 5px;
	margin: 10px;
}