<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Common Exception Page</title>
</h:head> 
<h:body> 
	
	<!-- Set the layout and Title for this page -->
 		<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="title">Common Exception Page</ui:define>
		<ui:define name="content">
				<!-- Login Form -->
				
				<div align="center">
				
	<h3>Exception Message:</h3>
	#{requestScope['error-message']} <br/>
	<h:form>
			<h:button value="Index" outcome="Index.xhtml"/>
	</h:form>
	<h:messages />
	</div>
	</ui:define>
	</ui:composition>
</h:body>
</html>