@charset "ISO-8859-1";

.order-table
{
	border-collapse:collopse;
}

.order-table-header
{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:2px solid #000000;
	padding:16px;
}

.order-table-odd-row
{
	text-align:center;
	background:none repeat scroll 00 #FFFFFFF;
	border-top:1px solid #000000;
}

.order-table-even-row
{
 	text-align:center;
	background:none repeat scroll 00 #F9F9F9;
	border-top:1px solid #00ff40;

}