<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title><ui:insert name="title">Weather App</ui:insert></title>
 	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 		<h:outputStylesheet library="css" name="common-style.css"/>
	<h:outputStylesheet library="css" name="table-style.css"/>
</h:head> 

<h:body>

	<div id="page">
		<!-- Insert Header Facelet Here -->
	    <div id="header" align="center">
			<ui:insert name="header" >
				<ui:include src="/layouts/commonHeader.xhtml" />
			</ui:insert>
	    </div>

		<!-- Insert Content Facelet Here -->
	    <div id="content">
			<f:view>
	  			<ui:insert name="content" >
	 	  			<ui:include src="/layouts/commonContent.xhtml" />
	   			</ui:insert>
			</f:view>
	    </div>

		<!-- Insert Footer Facelet Here -->
	    <div id="footer" align="center">
	    	<ui:insert name="footer">
	    		<ui:include src="/layouts/commonFooter.xhtml" />
	    	</ui:insert>
    	</div>
	</div>

</h:body>
    
</html>
